In [5]:
import pickle


with open('C:/Users/naray/OneDrive/Desktop/new_stuff/interview/pickled_df.pkl', 'rb') as f:
    data = pickle.load(f)

In [6]:
data.head()

,author,crawl_date,crawl_desc,crawl_url,date,description,full_text,img_url,site_name,title,topic,url,webpage_source,lang
4,"[""Liz Josaitis, Michigan State University Exte...",2020-12-23,news cc-crawl,crawl-data/CC-NEWS/2020/12/CC-NEWS-20201223000...,2020-12-23,The Food and Drug Administration has offered a...,A few examples include the offering of anti-a...,https://www.westernjournal.com/wp-content/uplo...,The Western Journal,"Health Scammers Prey on the Elderly, Here's Ho...",politics,https://www.westernjournal.com/health-scammers...,westernjournal.com,en
6,"[""Aja Styles""]",2020-12-23,news cc-crawl,crawl-data/CC-NEWS/2020/12/CC-NEWS-20201223000...,2020-12-23,Perth mother Clare has found herself mostly co...,Perth mother Clare* has found herself mostly ...,https://static.ffx.io/images/$zoom_0.3431%2C$m...,Brisbane Times,'Pack Lego': Perth family caught in hard borde...,entertainment,https://www.brisbanetimes.com.au/national/west...,brisbanetimes.com.au,en
11,"[""Jake Johnson""]",2020-12-23,news cc-crawl,crawl-data/CC-NEWS/2020/12/CC-NEWS-20201223000...,2020-12-23,The billâs gifts to the wealthy underscore t...,In late-night votes just hours after nearly 5...,https://truthout.org/wp-content/uploads/2020/1...,Truthout,Congress Passes COVID Relief With Billions in ...,politics,https://truthout.org/articles/congress-passes-...,truthout.org,en
12,"[""Christine Favocci""]",2020-12-23,news cc-crawl,crawl-data/CC-NEWS/2020/12/CC-NEWS-20201223000...,2020-12-23,It is naive to think that either party is free...,The left has insisted that voter fraud is jus...,https://www.westernjournal.com/wp-content/uplo...,The Western Journal,PA Man Facing Charges of Unlawful Voting After...,tech,https://www.westernjournal.com/pa-man-facing-c...,westernjournal.com,en
21,"[""Igor Derysh""]",2020-12-23,news cc-crawl,crawl-data/CC-NEWS/2020/12/CC-NEWS-20201223000...,2020-12-23,Fox aired segments debunking the claims after ...,Fox News and Fox Business just aired multiple...,https://truthout.org/wp-content/uploads/2020/1...,Truthout,Fox News Forced to Debunk Its Own False Voting...,business,https://truthout.org/articles/fox-news-forced-...,truthout.org,en

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267710 entries, 4 to 43865
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   author          267710 non-null  object
 1   crawl_date      267710 non-null  object
 2   crawl_desc      267710 non-null  object
 3   crawl_url       267710 non-null  object
 4   date            267710 non-null  object
 5   description     267710 non-null  object
 6   full_text       267710 non-null  object
 7   img_url         267710 non-null  object
 8   site_name       267710 non-null  object
 9   title           267710 non-null  object
 10  topic           267710 non-null  object
 11  url             267710 non-null  object
 12  webpage_source  267710 non-null  object
 13  lang            267710 non-null  object
dtypes: object(14)
memory usage: 30.6+ MB

In [67]:
data.author.describe()

count     267710
unique     33634
top         [""]
freq       15489
Name: author, dtype: object

### as we can see that the top value of the author in the dataset is [""] we have to remove that value as it is unanimous

In [66]:
new_frame.author.value_counts()

["Reuters"]                              11979
["Reuters Staff"]                         7238
["Associated"]                            5159
["Vanguard"]                              3797
["ABC News"]                              3287
                                         ...
["Rebecca Strong, Samantha Cassetty"]        1
["Esade Business & Law School"]              1
["Shivnarayan Rajpurohit"]                   1
["Emily Burnham Bangor Daily News"]          1
["Danilo Masoni, Paulina Duran"]             1
Name: author, Length: 33633, dtype: int64

In [61]:
#selecting the data where author is known for ex- not these vals "" / unknown
new_frame = data[data.author != '[""]']
new_frame.describe()

,author,crawl_date,crawl_desc,crawl_url,date,description,full_text,img_url,site_name,title,topic,url,webpage_source,lang
count,252221,252221,252221,252221,252221,252221,252221,252221,252221,252221,252221,252221,252221,252221
unique,33633,41,2,425,41,245436,252221,206791,255,252221,6,252221,216,1
top,"[""Reuters""]",2020-11-24,news cc-crawl,crawl-data/CC-NEWS/2020/11/CC-NEWS-20201124005...,2020-11-24,,Brazil coronavirus outbreak speeds up again a...,https://i.dailymail.co.uk/i/pix/m_logo_636x382...,Mail Online,Man Utd news: Fred outlines how team-mates can...,business,https://www.india.com/entertainment/bollywood-...,dailymail.co.uk,en
freq,11979,12037,252220,1414,12037,1193,1,13415,39340,1,79131,1,39340,252221